/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.carouselContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: auto;
}

.carouselHeading {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.section {
  padding: 1em 0;
  background-color: #9794e0;
}

html[data-theme='light'] .sectionLink {
  color: #67ea00;
}
html[data-theme='dark'] .sectionLink {
  color: #67ea00;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
}

.heading {
  font-size: 1.3em;
}

.code {
  font-family: monospace;
  background-color: #2a0321;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 3px;
  border-radius: 3px;
  border: solid 1px lightgray;
}

.backticks {
  font-family: monospace;
}


.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  border: none;
  margin-left: 24px;
  overflow: hidden;
}
